---

import GithubSlugger from "github-slugger";
const slugger = new GithubSlugger();

import type { FilmsResponse } from "../pocketbase-typegen";
const film = Astro.props;
type Props = FilmsResponse;
---

<a href={`/films/${film.id}-${slugger.slug(film.titre)}`}>{film.titre}</a>
